body {
  background-image: url("https://i.pinimg.com/564x/02/29/cb/0229cb415c657c1af75073bb076d46b1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.suwon-weather {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

#formattedDate {
  margin-right: 5px;
}

.data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -10px;
  width: 100%;
}

#content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: bold;
  margin-top: 50px;
}

#content p {
  font-size: 25px;
  display: inline-block;
  margin-top: 20px;
}

#content span {
  font-size: 28px;
  display: inline-block;
  margin-top: 10px;
  justify-content: center;
  text-align: center;
  color: rgb(0, 0, 255);
}

#content .large-emoji {
  font-size: 35px;
}

.fine-dust,
.ultrafine-dust,
.weather-temp,
.weather-state-text,
.RN1 {
  width: 180px;
  height: 180px;
  border-radius: 40px;
  border: 3px rgb(0, 0, 0) dashed;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  background-color: rgb(255, 190, 190);
  box-shadow: 5px 5px rgb(213, 213, 213);
}
